<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Meindert Web-Portofolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light" id="nav-bar">
        <a class="navbar-brand text-white font-weight-bolder h1" asp-area="" asp-controller="Home" asp-action="Index">Meindert</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" id="contactLink" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" id="contactLink" href="#index-profile">Profiel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" id="contactLink" href="#experiences">Evaringen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold" id="contactLink" href="#projects">Projecten</a>
                </li>
                <div class="dropdown-divider"></div>
            </ul>
        </div>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CV
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/static/files/Meindert van Duin CV 2020.pdf" target="_blank">pdf</a>
            </div>
        </div>
        
        <a class="nav-link text-white font-weight-bold fa fa-github" href="https://github.com/meindertduin"></a>    
    </nav>
</header>
<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top footer text-muted">
    <div class="container">
        
    </div>
</footer>
<script>
    
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://use.fontawesome.com/e5c0759e70.js"></script>
<ej-script-manager></ej-script-manager>
@RenderSection("Scripts", required: false)
</body>

</html>

<style> 
    .top-image{
        margin-top: 60px;
        display: block;
        position:relative;
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    
    body{
        background-color: #c5c6c7;
    }

    .top-bg-image{
        filter: blur(3px);
        width: 100%;
        height: auto;
    }
    
    
    .top-bg-text{
        position: absolute;
        border: white 4px solid;
        display: block;
        top: 40%;
        left: 50%;
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    #nav-bar{
        background-color: #0b0c10;
    }
    
    .footer {
        background: #0b0c10;
        padding: 3em;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
        
    .project-top-col{
        display: flex; 
        justify-content: center
    }
    
    .project-top-section{
        width: 95%; 
        border-top-left-radius: 20px; 
        border-top-right-radius: 20px; 
        height: 20px; 
        padding-bottom: 30px; 
        padding-top: 5px;
    }
    
    .project-bottom-col{
        display: flex; 
        justify-content: center
    }
    .project-bottom-section{
        width: 95%; 
        min-height: 200px; 
        border-bottom-right-radius: 20px; 
        border-bottom-left-radius: 20px;
    }
    
    .project-features-list{
        display: flex; 
        flex-flow: row wrap;
    }
    .project-feature{
        margin: 3px; 
        border-color: grey; 
        border-style: solid; 
        padding: 5px; 
        background-color: #201a26; 
        color: white
    }
    
    .project-description{
        overflow: auto; 
        max-height: 200px;
        padding: 2px;
    }
    
    .project-description::-webkit-scrollbar {
        width: 12px;
    }
    
    .project-description::-webkit-scrollbar-track {
        background-color: #1f2833;
        border-radius: 10px;
    }
    
    .project-description::-webkit-scrollbar-thumb {
        border-radius: 10px;
        height: 2px;
        background-color:#0b0c10;
    }
    
    .exercise-project-container{
        width: 90%;
    }
    
    .exercise-project-menu-item > a{
        background-color: #45a29E;
        border: 1px solid #0b0c10;
    }
    
    .exercise-project-menu-item > a:hover{
        background-color: #6c757d;
        border: 1px solid #0b0c10;
    }
    
    .exercise-project-menu-item > a:active{
        background-color: #6c757d;
    }
    
    .exercise-page-link{
        background-color: #45a29E;
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #ffffff;
        border: 1px solid #0b0c10;
    }
    
    .exercise-page-link:hover{
        background-color: #6c757d;
        text-decoration: none;
        color: #ffffff;
    }
    
    .exercise-projects-menu{
        display: flex;
    }
    
    .contact-card{
        background-color: #45a29E;;
    }
    
    #index-profile{
        background-color: #c5c6c7;
        padding-bottom: 2em;
    }
    #small-proj{
        background-color: #05B2DC;
    }
    
    .big-project-part{
        background-color: #1f2833;
        color: white;
    }
    
    .exercise-card > .card-header{
        background-color: #1f2833;
    }
    
    
    #contact .card:hover i,#contact .card:hover h4{
    	color: #0b0c10;
    }
    
    .full-width-image {
       width: 100vw;
       position: relative;
       left: 50%;  
       margin-left: -50vw;
    }
    
    .full-width-image img {
      width: 100%;
    }
    
    hr{
        border-top: 2px solid black
    }
    
    .section-title{
        margin-top: 1em;
    }
    
    .section-subtitle{
        max-width: 500px;
    }
    
    .section-text{
        margin-top: 2em;
    }
            
    
</style>

